body{
    background-color: #70ba79;
    font-family: sans-serif;
}
li{
    display: inline;
}
li a{
    text-align: center;
    padding: 8px 8px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-style: italic;
}
ul{
    overflow: hidden;
    width: auto;
}
ul.menusor{
    background-color: lightslategray;
    top:0;
    padding: 3mm;
}
h1.focim{
    color: black;
}
